footer.footer
    .img(src='/img/logo-gree.png' alt='Natour logo')
    ul.footer__nav
        li: a(href='#') About Us
        li: a(href='#') Donwload apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; By M.A.S. Made with help of Jonas Schedtmann